/* Variables */
:root {
  --c-tint: #607890;

  --c-primary: #55595c;
  --c-secondary: #ddd;
  --c-tertiary: #a09da6;

  --c-content-background: #fff;
  --c-content-background-inverted: #d1e2e2;
  --c-content-foreground: var(--c-primary);

  --p-header: 2rem;
  --m-regular-padding: 2rem;
  --m-header-regular-width: 22rem;

  --c-code-background: #1f1f24;
  --c-code-plain: #fff;
}

/* Native font stack */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  color: var(--c-primary);
  line-height: 1.5;
}

/* Links */
a {
  color: inherit;
  text-decoration: underline;
  transition: color 300ms ease-in-out;
}

a:hover {
  color: var(--c-tint);
  text-decoration: none;
}

/* Compact width, compact height header (default) */
.home,
.single {
  max-width: none;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.header,
.single .header {
  text-align: left;
  background: #202020;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://zw.micro.blog/uploads/2019/8e44c55032.jpg');
  padding: var(--m-regular-padding) 1rem;
}

.home .header {
  min-height: 100vh;
}

@media (min-height: 30em) {
  .home .header {
    min-height: unset;
  }
}

.avatar {
  margin-bottom: 0;
}

.avatar img {
  border-radius: 48px;
  height: 125px;
}

.site__name {
  color: #fff;
  font-size: 2rem;
  text-align: justify;
  font-weight: bold;
  margin: 0;
  line-height: 1.25em;
  padding: 1.75rem 0;
  flex: 1;
}

@media (min-width: 24em) {
  .site__name {
    font-size: 2.8rem;
    padding: 1rem 0 1.625rem 0;
  }
}

.site__page {
  font-size: 100%;
  margin-bottom: 0.8rem;
  padding: 0;
  color: #fff;
  text-decoration: none;
}

.site__page:hover {
  text-decoration: underline;
}

.site__page:first-of-type {
  margin-top: 3.25rem;
}

.site__page:last-of-type {
  margin-bottom: 0;
}

.main__content {
  padding: 0 1rem;
  flex: 1;
}

.single .main__content {
  margin: 0;
  width: auto;
}

.footer {
  margin: 1rem 0 0 0;
  padding: var(--m-regular-padding) 1rem;
  background-color: var(--c-tertiary);
  color: var(--c-secondary);
  text-align: center;
}

.footer a {
  color: #fff;
}

/* Contact links in footer, but injected into header */
.contact-links {
  position: absolute;
  top: 15rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.contact-links #wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.54365s;
  padding: 0.625rem;
  border-radius: 0.5rem;
}

@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
  .contact-links #wrapper {
    background-color: clear;
    backdrop-filter: blur(5px) grayscale(20%) brightness(100%);
    -webkit-backdrop-filter: blur(5px) grayscale(20%) brightness(100%);
  }
}

.contact-links a {
  padding: 0 0.1875rem;
  margin: 0 0.125rem;
  color: #000;
}

.contact-links #wrapper:hover {
  background-color: #fff;
}

.contact-links a:hover {
  color: var(--c-tint);
}

.contact-links a.icon svg {
  width: 1.25rem;
  height: auto;
  fill: currentColor;
  vertical-align: middle;
}

/* Fixed header on left in regular width (tablets) */
@media (min-width: 48em) {
  :root {
    --m-body-left-margin: calc(var(--m-header-regular-width) + var(--m-regular-padding));
    --m-body-right-margin: --m-regular-padding;
  }

  .header,
  .single .header {
    left: 0;
    padding: var(--m-regular-padding);
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    width: var(--m-header-regular-width);
    align-items: flex-start;
    height: 100vh;
  }

  .site__name {
    flex: 0;
    padding: 1rem 0;
  }

  .site__page:first-of-type {
    margin-top: 0;
  }

  .site__page:last-of-type {
    margin-bottom: 3.75rem;
  }

  .main__content {
    max-width: 44rem;
    margin-left: var(--m-body-left-margin);
    margin-right: var(--m-regular-padding);
  }

  .single .main__content {
    max-width: 62rem;
    margin-left: var(--m-body-left-margin);
    margin-right: var(--m-regular-padding);
  }

  .footer {
    padding-left: var(--m-body-left-margin);
    padding-right: var(--m-body-right-margin);
  }

  .contact-links {
    padding: 0 var(--m-regular-padding) var(--m-regular-padding) var(--m-regular-padding);
    position: fixed;
    top: unset;
    bottom: 0;
    width: var(--m-header-regular-width);
    justify-content: flex-start;
  }
}

/* Adjusts header sizing on large width (desktop) */
@media (min-width: 64em) {
  :root {
    --m-body-additional-margin: 3rem;
    --m-body-left-margin: calc(var(--m-header-regular-width) + var(--m-regular-padding) + var(--m-body-additional-margin));
    --m-body-right-margin: calc(var(--m-regular-padding) + var(--m-body-additional-margin));
  }

  .main__content,
  .single .main__content {
    margin-left: var(--m-body-left-margin);
    margin-right: var(--m-body-right-margin);
  }

  .footer {
    padding-left: var(--m-body-left-margin);
    padding-right: var(--m-body-right-margin);
  }
}

/* Post content */
.highlight,
.post h1,
h2,
h3,
p,
.post ul,
.post li,
video,
pre ::before {
  margin-top: 1em;
}

/* Post footer */
.post .message {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
}

.post img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 0.4rem;
  display: block;
  margin: 0 0 1rem;
}

/* Tables */
.post table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--c-secondary);
}

.post td,
.post th {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--c-secondary);
}

.post th {
  font-weight: bold;
}

.post tbody tr:nth-child(odd) td,
.post tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.post__footer a {
  font-weight: 500;
  color: #bbb;
  text-transform: uppercase;
}

.post__footer a:hover {
  color: var(--c-tint);
}

.post__footer a::after {
  content: " →";
}

/* Syntax highlighting based on Xcode "Default (Dark)"" theme, circa Jan 2019 */
code {
  font-family: "SF Mono", "Fira Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  font-weight: 500;
  background-color: var(--c-code-background);
  color: var(--c-code-plain);
  border-radius: 0.4em;
  display: inline-block;
  padding: 0.15em 0.35em;
  line-height: 1.35;
}

.highlight {
  --c-plain: var(--c-code-plain);
  --c-comment: #6c7986;
  --c-comment-keyword: #92a1b1;
  --c-string: #fc6a5d;
  --c-character: #9686f5;
  --c-number: #9686f5;
  --c-keyword: #fc5fa3;
  --c-preprocessor: #fd8f3f;
  --c-url: #53a5fb;
  --c-attribute: #75b492;
  --c-internal-variable: #91d462;
  --c-internal-function: #aef37d;
  --c-external-variable: #7ac8b6;
  --c-external-function: #99e8d5;
  --c-background: var(--c-code-background);
  --c-line: #23252b;
  --c-selection: #515b70;
  --c-invisible: #424d5b;
  --c-plain-inverted: #000;
}

.highlight pre {
  background-color: var(--c-background);
  color: var(--c-plain);
  overflow: hidden;
  font-weight: 500;
}

/* Error */
.highlight .err {
  background-color: var(--c-string);
  color: var(--c-plain-inverted);
}

/* Keyword, Keyword.Declaration, Keyword.Namespace, Keyword.Pseudo, Keyword.Reserved, Name.Builtin */
.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .nb {
  color: var(--c-keyword);
  font-weight: 700;
}

/* Keyword.Constant, Keyword.Type */
.highlight .kc,
.highlight .kt {
  color: var(--c-internal-variable);
}

/* Name, Name.Namesapce */
.highlight .n,
.highlight .nn {
  color: var(--c-internal-variable);
}

/* Name.Attribute, Name.Decorator */
.highlight .na,
.highlight .nd {
  color: var(--c-attribute);
}

/* Name.Class, Name.Constant */
.highlight .nc,
.highlight .no {
  color: var(--c-external-variable);
}

/* Name.Function */
.highlight .nf {
  color: var(--c-external-function);
}

/* Name.Tag */
.highlight .nt {
  color: var(--c-preprocessor);
}

/* Literal, Literal.Number, Literal.Number.Float, Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct */
.highlight .l,
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: var(--c-number);
}

/* Literal.Date, Literal.String, Literal.String.Backtick, Literal.String.Double, Literal.String.Escape,
Literal.String.Heredoc, Literal.String.Interpol, Literal.String.Other, Literal.String.Regex,
Literal.String.Single, Literal.String.Symbol */
.highlight .ld,
.highlight .s,
.highlight .sb,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: var(--c-string);
}

/* Literal.String.Char */
.highlight .sc {
  color: var(--c-character);
}

/* Literal.String.Doc */
.highlight .sd {
  color: var(--c-comment);
}

/* Operator, Operator.Word, Punctuation, Punctuation.Indicator */
.highlight .o,
.highlight .ow,
.highlight .p,
.highlight .pi {
  color: var(--c-plain);
}

/* Comment, Comment.Single */
.highlight .c,
.highlight .c1 {
  color: var(--c-comment);
}

/* Comment.Doc, Comment.Multiline */
.highlight .cd,
.highlight .cm {
  color: var(--c-comment);
  font-style: var(--s-comment);
}

/* Comment.Preproc, Comment.Special */
.highlight .cp,
.highlight .cs {
  color: var(--c-comment-keyword);
  font-weight: 700;
  font-style: italic;
}

/* Generic.Deleted */
.highlight .gd {
  color: var(--c-plain);
  text-decoration: line-through;
}

/* Generic.Emph */
.highlight .ge {
  font-style: italic;
}

/* Generic.Heading, Generic.Prompt */
.highlight .gh,
.highlight .gp {
  color: var(--c-comment);
  font-weight: 700;
}

/* Generic.Inserted */
.highlight .gi {
  color: var(--c-plain);
  font-weight: 700;
}

/* Generic.Strong */
.highlight .gs {
  font-weight: 700;
}

/* Generic.Subheading */
.highlight .gu {
  color: var(--c-comment);
  font-style: italic;
}
