{{ define "main" }}
<section class="posts h-feed">

{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 10) }}
{{ range $paginator.Pages  }}

    <article class="post h-entry">
	  {{ if .Title }}
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	  {{ end }}
      <div class="e-content">{{ .Content }}</div>
      <footer class="post__footer">
        <small><time class="dt-published" datetime="{{ .Date }}"><a href="{{ .Permalink }}" title="Permalink to Microblog post" class="u-url">{{ .Date.Format "Mon, Jan 2, 2006 at 3:04pm" }}</time></a></small>
      </footer>
    </article>

{{ end }}

</section>
{{ end }}