/* Variables */
:root {
  --c-tint: #607890;

  --c-primary: #55595c;
  --c-secondary: #ddd;
  --c-tertiary: #a09da6;

  --c-content-background: #fff;
  --c-content-background-inverted: #d1e2e2;
  --c-content-foreground: var(--c-primary);
  --c-content-foreground-inverted: #fff;

  --p-header: 2rem;
  --m-regular-padding: 2rem;
  --m-header-regular-width: 22rem;

  --c-code-background: #1f1f24;
  --c-code-plain: #fff;
}

/* User agent reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: none;
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Native font stack */
html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: var(--c-content-foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  background: var(--c-content-background);
}

p {
  margin-top: 1.1rem;
  font-size: 1.1rem;
  line-height: 1.3;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Links */
a {
  color: inherit;
  text-decoration: underline;
  transition: color 300ms ease-in-out;
}

a:hover, a:focus {
  color: var(--c-tint);
  text-decoration: none;
}

/* Compact width, compact height header (default) */
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--m-regular-padding) 1rem;
  text-align: left;
  background: #202020;
  background-image: url(/uploads/2019/8e44c55032.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* Homepage header takes up first viewport on mobile */
.home .header {
  min-height: 100vh;
}

.avatar img {
  display: block;
  max-width: 125px;
  height: 125px;
  border-radius: 48px;
}

.site__name {
  flex: 1;
  padding: 1.75rem 0;
  color: var(--c-content-foreground-inverted);
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.25em;
  text-align: justify;
}

.site__page {
  margin-bottom: 0.8rem;
  color: var(--c-content-foreground-inverted);
  text-decoration: none;
}

.site__page:hover, .site__page:focus {
  text-decoration: underline;
}

.site__page:first-of-type {
  margin-top: 3.25rem;
}

.site__page:last-of-type {
  margin-bottom: 0;
}

/* Contact links in footer, but injected into header */
.contact-links {
  position: absolute;
  top: 15rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.contact-links #wrapper {
  padding: 0.625rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  transition: background-color 0.54365s;
}

@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
  .contact-links #wrapper {
    background-color: clear;
    -webkit-backdrop-filter: blur(5px) grayscale(20%) brightness(100%);
    backdrop-filter: blur(5px) grayscale(20%) brightness(100%);
  }
}

.contact-links a {
  margin: 0 0.125rem;
  padding: 0 0.1875rem;
  color: #000;
}

.contact-links #wrapper:hover {
  background-color: var(--c-content-foreground-inverted);
}

.contact-links a:hover {
  color: var(--c-tint);
}

.contact-links a.icon svg {
  width: 1.25rem;
  height: auto;
  vertical-align: middle;
  fill: currentColor;
}

.main__content {
  flex: 1;
  padding: 0 1rem;
}

.post img, .post--single img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0 0 1rem;
  border-radius: 0.4rem;
}

.post video, .post--single video {
  margin-bottom: 1em;
}

.post:not(:last-of-type) {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

.post__footer {
  padding-top: 1.5rem;
  color: #888;
  font-size: 0.85rem;
}

.post__footer a {
  color: #bbb;
  font-weight: 500;
  text-transform: uppercase;
}

.post__footer a:hover, .post__footer a:focus {
  color: var(--c-tint);
}

.post__footer a::after {
  content: " →";
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.4rem;
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.3rem;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

ul {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  list-style: disc inside;
}

li {
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

pre {
  display: block;
  margin: 0 0 10px;
  padding: 9.5px;
  color: #333;
  font-size: 13px;
  line-height: 1.42857143;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

blockquote {
  margin: 20px;
  padding-left: 20px;
  border-left: 1px solid lightgray;
}

ol {
  padding-bottom: 15px;
  padding-left: 20px;
  list-style: decimal;
}

sup {
  vertical-align: super;
}

.footer {
  margin: 1rem 0 0 0;
  padding: var(--m-regular-padding) 1rem;
  color: var(--c-secondary);
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--c-tertiary);
}

.footer a {
  color: var(--c-content-foreground-inverted);
}

#post-nav {
  padding-top: 25px;
}

#post-nav .prev {
  padding-right: 10px;
}

/* Tables */
.post table,
.post--single table {
  width: 100%;
  border: 1px solid var(--c-secondary);
  border-collapse: collapse;
}

.post td,
.post th,
.post--single td,
.post--single th {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--c-secondary);
}

.post th,
.post--single th {
  font-weight: bold;
}

.post tbody tr:nth-child(odd) td,
.post tbody tr:nth-child(odd) th,
.post--single tbody tr:nth-child(odd) td,
.post--single tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.post .message,
.post--single .message {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
}

/* Inline code */
code {
  display: inline-block;
  padding: 0.15em 0.35em;
  color: var(--c-code-plain);
  font-weight: 500;
  font-family: "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  line-height: 1.35;
  background-color: var(--c-code-background);
  border-radius: 0.4em;
}

/* Single Posts */
.post--single {
  margin: 3rem auto;
}

.post--single p {
  font-size: 1.4rem;
}

.post--single img {
  width: 100%;
  max-width: 450px;
  margin: 0 auto 1rem auto;
}

.post--single h1 {
  font-size: 1.75rem;
}

.post--single h2 {
  font-size: 1.65rem;
}

.post--single h3 {
  font-size: 1.55rem;
}

.post--single h4 {
  font-size: 1.45rem;
}

/* Syntax highlighting based on Xcode "Default (Dark)"" theme, circa Jan 2019 */
.highlight {
  --c-plain: var(--c-code-plain);
  --c-comment: #6c7986;
  --c-comment-keyword: #92a1b1;
  --c-string: #fc6a5d;
  --c-character: #9686f5;
  --c-number: #9686f5;
  --c-keyword: #fc5fa3;
  --c-preprocessor: #fd8f3f;
  --c-url: #53a5fb;
  --c-attribute: #75b492;
  --c-internal-variable: #91d462;
  --c-internal-function: #aef37d;
  --c-external-variable: #7ac8b6;
  --c-external-function: #99e8d5;
  --c-background: var(--c-code-background);
  --c-line: #23252b;
  --c-selection: #515b70;
  --c-invisible: #424d5b;
  --c-plain-inverted: #000;
}

.highlight pre {
  overflow: hidden;
  color: var(--c-plain);
  font-weight: 500;
  background-color: var(--c-background);
}

/* Error */
.highlight .err {
  color: var(--c-plain-inverted);
  background-color: var(--c-string);
}

/* Keyword, Keyword.Declaration, Keyword.Namespace, Keyword.Pseudo, Keyword.Reserved, Name.Builtin */
.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .nb {
  color: var(--c-keyword);
  font-weight: bold;
}

/* Keyword.Constant, Keyword.Type */
.highlight .kc,
.highlight .kt {
  color: var(--c-internal-variable);
}

/* Name, Name.Namesapce */
.highlight .n,
.highlight .nn {
  color: var(--c-internal-variable);
}

/* Name.Attribute, Name.Decorator */
.highlight .na,
.highlight .nd {
  color: var(--c-attribute);
}

/* Name.Class, Name.Constant */
.highlight .nc,
.highlight .no {
  color: var(--c-external-variable);
}

/* Name.Function */
.highlight .nf {
  color: var(--c-external-function);
}

/* Name.Tag */
.highlight .nt {
  color: var(--c-preprocessor);
}

/* Literal, Literal.Number, Literal.Number.Float, Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct */
.highlight .l,
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: var(--c-number);
}

/* Literal.Date, Literal.String, Literal.String.Backtick, Literal.String.Double, Literal.String.Escape,
Literal.String.Heredoc, Literal.String.Interpol, Literal.String.Other, Literal.String.Regex,
Literal.String.Single, Literal.String.Symbol */
.highlight .ld,
.highlight .s,
.highlight .sb,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: var(--c-string);
}

/* Literal.String.Char */
.highlight .sc {
  color: var(--c-character);
}

/* Literal.String.Doc */
.highlight .sd {
  color: var(--c-comment);
}

/* Operator, Operator.Word, Punctuation, Punctuation.Indicator */
.highlight .o,
.highlight .ow,
.highlight .p,
.highlight .pi {
  color: var(--c-plain);
}

/* Comment, Comment.Single */
.highlight .c,
.highlight .c1 {
  color: var(--c-comment);
}

/* Comment.Doc, Comment.Multiline */
.highlight .cd,
.highlight .cm {
  color: var(--c-comment);
  font-style: var(--s-comment);
}

/* Comment.Preproc, Comment.Special */
.highlight .cp,
.highlight .cs {
  color: var(--c-comment-keyword);
  font-weight: bold;
  font-style: italic;
}

/* Generic.Deleted */
.highlight .gd {
  color: var(--c-plain);
  text-decoration: line-through;
}

/* Generic.Emph */
.highlight .ge {
  font-style: italic;
}

/* Generic.Heading, Generic.Prompt */
.highlight .gh,
.highlight .gp {
  color: var(--c-comment);
  font-weight: bold;
}

/* Generic.Inserted */
.highlight .gi {
  color: var(--c-plain);
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Subheading */
.highlight .gu {
  color: var(--c-comment);
  font-style: italic;
}

/* No full-height hero on home (tablets) */
@media (min-height: 30em) {
  .home .header {
    min-height: unset;
  }
}

/* Adjust site title (tablets) */
@media (min-width: 24em) {
  .site__name {
    padding: 1rem 0 1.625rem 0;
    font-size: 2.8rem;
  }
}

/* Fixed header on left in regular width (tablets) */
@media (min-width: 48em) {
  :root {
    --m-body-left-margin: calc(var(--m-header-regular-width) + var(--m-regular-padding));
    --m-body-right-margin: --m-regular-padding;
  }

  .header {
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: flex-end;
    align-items: flex-start;
    width: var(--m-header-regular-width);
    height: 100vh;
    padding: var(--m-regular-padding);
  }

  .site__name {
    flex: 0;
    padding: 1rem 0;
  }

  .site__page:first-of-type {
    margin-top: 0;
  }

  .site__page:last-of-type {
    margin-bottom: 3.75rem;
  }

  .main__content {
    max-width: 44rem;
    margin-right: var(--m-regular-padding);
    margin-left: var(--m-body-left-margin);
  }

  .single .main__content {
    max-width: 62rem;
  }

  .footer {
    padding-right: var(--m-body-right-margin);
    padding-left: var(--m-body-left-margin);
  }

  .contact-links {
    position: fixed;
    top: unset;
    bottom: 0;
    justify-content: flex-start;
    width: var(--m-header-regular-width);
    padding: 0 var(--m-regular-padding) var(--m-regular-padding) var(--m-regular-padding);
  }
}

/* Adjusts header sizing on large width (desktop) */
@media (min-width: 64em) {
  :root {
    --m-body-additional-margin: 3rem;
    --m-body-left-margin: calc(var(--m-header-regular-width) + var(--m-regular-padding) + var(--m-body-additional-margin));
    --m-body-right-margin: calc(var(--m-regular-padding) + var(--m-body-additional-margin));
  }
}
