<header class="header" role="banner">
  <section class="profile">
    {{ $isMicroDotBlogHome := (and .IsHome (not (.AlternativeOutputFormats.Get "HTML"))) }}
    {{ if not $isMicroDotBlogHome }}<a href="/" class="site-back">{{ end }}<img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Author.name }}" class="site-avatar">{{ if not $isMicroDotBlogHome }}</a>{{ end }}

    <h1 class="site-name">{{ .Site.Author.name }}</h1>

    {{ range .Site.Menus.main }}
      {{ $localURL := .URL | relLangURL | safeURL }}
      <a class="site-page" href="{{ with .Page }}{{ with .Params.redirect_url }}{{ . }}{{ else }}{{ $localURL }}{{ end }}{{ else }}{{ $localURL }}{{ end }}">{{ .Name }}</a>
    {{ end }}

    {{ partial "contact_links.html" . }}
  </section>
  {{ if $isMicroDotBlogHome }}
  <figure class="jump-down">
    {{ partial "icon.svg" (dict "name" "chevron-down" "width" 38) }}
  </figure>
  {{ end }}
</header>
