<header class="header" role="banner">
  {{ if not .IsHome }}<a href="/" class="site-back">{{ end }}<img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Author.name }}" class="site-avatar">{{ if not .IsHome }}</a>{{ end }}

  <h1 class="site-name">{{ .Site.Author.name }}</h1>

  {{ range .Site.Menus.main }}
    {{ $localURL := .URL | relLangURL | safeURL }}
    <a class="site-page" href="{{ with .Page }}{{ with .Params.redirect_url }}{{ . }}{{ else }}{{ $localURL }}{{ end }}{{ else }}{{ $localURL }}{{ end }}">{{ .Name }}</a>
  {{ end }}

  {{ partial "contact_links.html" . }}

  {{ if .IsHome }}
  <figure class="jump-down">
    {{ partial "icon.svg" (dict "name" "chevron-down" "width" 38) }}
  </figure>
  {{ end }}
</header>
