<nav class="contact-links">
    <section id="wrapper">
        {{ $width := 20 }}
        <a href="mailto:zach@waldowski.me" title="Email" class="icon">{{ partial "icon.svg" (dict "name" "mail" "width" $width) }}</a>
        <a href="https://github.com/zwaldowski" title="GitHub" class="icon">{{ partial "icon.svg" (dict "name" "github" "width" $width) }}</a>
        <a href="https://mastodon.social/@zw" title="Mastodon" class="icon" rel="me">{{ partial "icon.svg" (dict "name" "mastodon" "width" $width) }}</a>
        <a href="https://twitter.com/zwaldowski" title="Twitter" class="icon">{{ partial "icon.svg" (dict "name" "twitter" "width" $width) }}</a>
        <a href="https://www.facebook.com/zwaldowski" title="Facebook" class="icon">{{ partial "icon.svg" (dict "name" "facebook" "width" $width) }}</a>
        <a href="https://instagram.com/zwaldowski" title="Instagram" class="icon">{{ partial "icon.svg" (dict "name" "instagram" "width" $width) }}</a>
        <a href="https://www.linkedin.com/in/zwaldowski" title="LinkedIn" class="icon">{{ partial "icon.svg" (dict "name" "linkedin" "width" $width) }}</a>
    </section>
</nav>
